<html>
    <head>
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script>
            var stripepublickey="<%= stripepublickey %>"
        </script>
        
    </head>
    <body>
        <div class="topnav">
            <a class="left" href="/">HOME</a>
        </div>
        <div>
            <div>
                <input type="text" class="data" placeholder="Name" required/>
            </div>

            <div>
                <input type="text" class="data" placeholder="Line1" required/>
            </div>
            <div>
                <input type="text" class="data" placeholder="Postal Code" required/>
            </div>
            <div>
                <input type="text" class="data" placeholder="City" required/>
            </div>
            <div>
                <input type="text" class="data" placeholder="State" required/>
            </div>
            <div>
                <input type="text" class="data" placeholder="Country" required/>
            </div>
            <div>
                <input type="number" class="data" placeholder="amount" required/>
            </div>
            <button onclick="donate_clicked()">
                Donate
            </button>
        </div>
        <div><p>this site is under development . NO actual payment will happen. Use <b>424242424242</b> card no to check wheater payment gatway is working or not use any email id, any
        <b>cvc(123)</b> no.
        </p></div>
        <div><b>THANK YOU</b>
        
        <script src="donate.js" defer></script>
    </body>
</html>
