<html>
    <head>
        <link href="home_style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div class="topnav">
            <a class="left active" href="#">HOME</a>
            <a class="left" href="#">ABOUT</a>
            <a class="right" href="signin">SIGN IN</a>
            <a class="right" href="#">SIGN UP</a>
        </div>
        <% donaters.forEach(element=>{ %>
            <div>
                <h1>
                    <%= element.name %> 
                </h1>
                <h1><%= element.amount %> </h1>
            </div>
        <% }) %>  
        <div>
            <a href="/signin">SIGN IN TO DONATE</a>
        </div>
    </body>
</html>